.details{
    
}

.movie-card {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.movie-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.movie-post img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.movie-details {
    padding: 0.75rem 1rem;
}

.movie-details h3 {
    margin: 0.5rem 0 0.25rem;
    color: var(--primary-text);
    font-size: 1.2rem;
}



.movie-details {
    margin: 0;
    color: var(--secondary-text);
    font-size: 0.9rem;
    background-color: var(--secondary-bg);
}

.fav-btn {
    margin-top: 0.5rem;
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color:var();
    color: var(--button-text);
    border: none;
    gap:3px;
    cursor: pointer;
    font-weight: 800;
    transition: background-color 0.2s;
}

.fav-btn:hover {
    background-color: var(--button-bg);
}